<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarot Reader</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <script src="{{ url_for('static', filename='js/index.js') }}" defer></script>
</head>

<body>
    <section class="section">
        <div class="container">
            <div class="box tarot-container">
                <!-- Seleção de tipo de leitura -->
                <div class="field tarot-settings">
                    <label class="label" for="readingType">Escolha a leitura:</label>
                    <div class="control">
                        <div class="select">
                            <select id="readingType">
                                <option value="past-present-future">Passado, Presente e Futuro</option>
                                <option value="career">Carreira</option>
                                <option value="relationship">Relacionamento</option>
                                <option value="celtic-cross">Cruz Celta</option>
                                <option value="yes-no">Sim ou não</option>
                                <option value="three-card">Leitura de Três Cartas</option>
                                <option value="spiritual-guidance">Orientação Espiritual</option>
                                <option value="health">Saúde</option>
                                <option value="decision">Decisão</option>
                                <option value="finance">Finanças</option>
                                <option value="self-discovery">Auto-Descoberta</option>
                                <option value="astrological-mandala">Mandala Astrológica</option>
                            </select>
                        </div>
                    </div>
                </div>

                <!-- Botão para sortear cartas -->
                <div class="field">
                    <div class="control">
                        <button class="button is-primary is-medium" id="drawCardButton" onclick="reading(event)">
                            Sortear Cartas
                        </button>
                    </div>
                </div>

                <!-- Display das cartas -->
                <div class="card-display columns is-multiline" id="cardDisplay">
                    <!-- As colunas das cartas serão geradas dinamicamente -->
                </div>
            </div>
        </div>
    </section>
</body>

</html>
